body {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.guess-row {
  display: inline-flex; 
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.board {
  display: inline-flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.Game {
  flex-direction: column;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.letter-tile{
  height: 64px;
  width: 64px;
  text-align: center;
  vertical-align: baseline;
  
}

.letter-tile h2{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.correct{
  animation: correct 1s forwards;
}

.wrong-position{
  animation: wrong-position 1s forwards;
}

.not-present{
  animation: not-present 1s forwards;
}


@keyframes correct {
  from {background-color: null;}
  to {background-color: lightgreen;}
}

@keyframes wrong-position {
  from {background-color: null;}
  to {background-color: rgb(192, 192, 60);}
}

@keyframes not-present {
  from {background-color: null;}
  to {background-color: lightcoral;}
}

.keyboard{
  margin-bottom: 5vh;
  min-width: 50vw;
  color: black;
}

.light {
  background-color: white;
  color: black;
}

.dark {background-color: #282c34;color: white;}

.light .letter-tile{
  background-color: whitesmoke;
}
.dark .letter-tile{
  background-color: #282c34;
  border: white solid 1px;
}

.dark .app-header{
  color: #282c34;
  
}
.light .app-header{
  background-color: white;
}

.dark .brand{
  color: white;
}
.light .brand{
  color: black;
  
}

.dark .theme-switcher{
  color: white;
}
.light .theme-switcher{
  color: black;
  
}

.modal-dark{
  background-color: #282c34;
  color: white;
}

.btn-close .dark{
  color: white;
}